%header.page-header
  .container
    .row
      %a.brand{href: 'http://gnip.com'} Gnip

.search-container
  %form.search-form#search-form{action: '/search', data: {}}
    %input#q{name: 'q', autofocus: true, autocomplete: false}
    %i.icon-search
  %header.chart-header#chart-header
    %h2 Activity Volume
    %h5.subheader
  .chart-container#chart-container
    .activities-chart#activities-chart
  %header.activities-header#activities-header
    %h2
      Activities
    %h5.subheader
      %span.js-activities-count
      %span.js-activities-date-range
  .map-container#map-container
    .activities-map-controls
      %a.toggle-activity-map{href: '#'} Show Map
    .activities-map#activities-map{class: 'is-closed'}
      .map#map
  .activities-container#activities-container
    #activities-list.activities-list
